@charset "UTF-8";

/*ヘッダーを固定したので、本文がヘッダーの下に隠れないようにします。*/
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding-top: 76px;

    background-color: #111827;
    color: #ffffff;

    font-family: "Yu Gothic", "Meiryo", sans-serif;
}
/* 管理者画面：ブラウザの自動入力後も入力欄を暗くする */
/* フォーム入力時に候補を選んだ際に、フォームが白くなってしまう */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-text-fill-color: #ffffff !important;
    caret-color: #ffffff;

    -webkit-box-shadow:
        0 0 0 1000px #0b1a2d inset !important;

    box-shadow:
        0 0 0 1000px #0b1a2d inset !important;

    border: 1px solid #536982 !important;
}