@charset "UTF-8";
/* サイズ計算を分かりやすくする */
* {
    box-sizing: border-box;
}

/* ページ全体 */
body {
    margin: 0;
    background-color: #0b0b0b;
    color: #ffffff;
    font-family: "Yu Gothic", "Meiryo", sans-serif;
}

/* 見出し */
h1,
h2 {
    color: #ffffff;
}

/* 通常のリンク */
a {
    color: #ffffff;
}

/* 区切り線 */
hr {
    border: none;
    border-top: 1px solid #333333;
}
/* ブラウザの自動入力後も入力欄を暗くする */
/* フォーム入力時に候補を選んだ際に、フォームが白くなってしまう */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
    -webkit-text-fill-color: #ffffff !important;
    caret-color: #ffffff;

    -webkit-box-shadow:
        0 0 0 1000px #202020 inset !important;

    box-shadow:
        0 0 0 1000px #202020 inset !important;

    border: 1px solid #494949 !important;
}